@import "mixins.sass"

.change-username__wrapper
    @include popupWrapper(1)

.change-username__form
    @include popupMain(2)
    width: 304px
    padding: 0 0 16px

.change-username__title
    @include popupTitle()

.change-username__input
    @include bigInputBase()

.change-username__button 
    @include button(100px, 24px)
    margin: 16px auto 0