*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Inter, sans-serif

.dark-theme 
    --active: #0D1626
    --bgc: #0D1626
    --font-main-color: #FFFFFF 
    --past: #7C7C7C 
    --nav-bar: #619AFF 
    --hover: #364E79 
    --form-bgc: #060A12 
    
body
    --active: #619AFF
    --bgc: #ffffff
    --font-main-color: #000000
    --font-alt-color: #ffffff
    --task: #29A423
    --past: #B9B9B9
    --today: #619AFF
    --future: #F10000
    --nav-bar: #0D1626
    --hover: #80ADFF
    --form-bgc: #F3F6FF
    --delete-btn: #E20000
    min-width: 1528px
    background-color: var(--bgc)
    color: var(--font-main-color)

.numeric-font
    font-family: "Azeret Mono", monospace
    font-weight: 300
    