*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Inter, sans-serif

body
    min-width: 1528px

.numeric-font
    font-family: "Azeret Mono", monospace
    font-weight: 300
    