@import "variables.sass"

.schedule__main
    width: 1664px
    height: 555px
    margin: 48px auto 64px
    overflow-y: scroll

.scedule__btn
    display: block
    width: 380px
    height: 64px
    font-size: 24px
    background-color: $nav_bar
    color: $bgc
    border: none
    border-radius: 32px
    cursor: pointer
    margin: 0 auto
