@import "mixins.sass"

.settings__main
    width: 600px
    margin: 48px auto 0

.settings__wrapper
    padding-bottom: 16px
    border-bottom: 1px solid var(--past) 
    margin-bottom: 16px
    &:last-child
        border: none

.settings__title
    height: 32px
    font-size: 32px
    font-weight: normal
    margin-bottom: 16px

.settings__text-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 32px
    padding-left: 16px

.settings__text
    font-size: 16px

.settings__button
    width: 100px
    height: 24px
    font-size: 16px
    border: none
    border-radius: 25px
    background-color: var(--nav-bar)
    color: var(--font-alt-color)
    cursor: pointer

.settings__delete-button
    background-color: var(--delete-btn)

.settings__select
    width: 100px
    height: 24px
    border-radius: 10px
    font-size: 16px
    outline: none

.settings__option-dark
    background-color: var(--nav-bar)
    color: #fff
