{% macro render_add_task() %}
<section class="add-task__wrapper add-task__wrapper--hidden">
  <form action="/" method="post" class="add-Task__form">
    <div class="add-task__title-wrapper">
      <input class="add-Task__title" type="text" name="title" placeholder="Wstaw tytuł" required />
    </div>

    <div class="add-task__check-wrapper">
      <label class="add-task__label" for="all_day_check">Cały dzień</label>
      <input class="add-task__all_day_check" type="checkbox" name="all_day_check" />
    </div>

    <label class="add-task__label" for="start_date">Start</label>
    <div class="add-task__time_wrapper">
      <input class="add-task__input-date" type="date" name="start_date" />
      <span class="add-task__input-date-dash">-</span>
      <input
        class="add-task__input-time add-task__input--disableable"
        type="time"
        name="start_hour"
      />
    </div>

    <label class="add-task__label" for="end_date">Koniec</label>
    <div class="add-task__time_wrapper">
      <input
        class="add-task__input-date add-task__input--disableable"
        type="date"
        name="end_date"
      />
      <span class="add-task__input-date-dash">-</span>
      <input
        class="add-task__input-time add-task__input--disableable"
        type="time"
        name="end_hour"
      />
    </div>

    <label class="add-task__label" for="repeat_type">Powtarzanie</label>
    <select name="repeat_type" class="add-task__repeat-select">
      <option class="add-task__repeat-option" value="none">Nie</option>
      <option class="add-task__repeat-option" value="daily">Codziennie</option>
      <option class="add-task__repeat-option" value="weekly">Tygodniowo</option>
      <option class="add-task__repeat-option" value="monthly">Miesięcznie</option>
      <option class="add-task__repeat-option" value="yearly">Rocznie</option>
      <!-- TODO usunąć albo odkomentować -->
      <!-- <option class="add-task__repeat-option" value="custom">
        Niestandardowe
      </option> -->
    </select>

    <!-- TODO usunąć albo odkomentować -->
    <!-- <section class="add-task__custom-repeat-wrapper add-task__custom-repeat-wrapper--hidden">
      <div class="add-task__custom-repeat">
        <h1 class="add-task__custom-repeat-header">
          Powtarzanie niestandardowe
        </h1>

        <label for="repeat_custom_length" class="add-task__small-label">Powtarzaj co</label>
        <input type="number" name="repeat_custom_length" class="add-task__custom-repeat-input-number">
        <select name="repeat_custom_length_type" id="">
          <option value="days">Dni</option>
          <option value="weeks">tygodni</option>
          <option value="months">miesiący</option>
        </select>
        
        <label for="repeat_custom_start" class="add-task__small-label">Rozpoczyna się</label>

        <label for="repeat_custom_end" class="add-task__small-label">Kończy się</label>
      </div>
    </section> -->

    <label class="add-task__label" for="color">Kolor</label>
    <input class="add-task__input-color" type="color" name="color" value="#29A423" />

    <label class="add-task__label" for="description">Opis</label>
    <textarea class="add-task__description" name="description" cols="30"></textarea>

    <input class="add-task__submit numeric-font" type="submit" value="Dodaj" />
  </form>
</section>

<script src="../static/scripts/add_task_handler.js" type="module"></script>
{% endmacro %}
