{% macro render_change_password() %}
<section class="change-password__wrapper change-password__wrapper--hidden">
  <form action="/" class="change-password__form" method="post">
    <h1 class="change-password__title">Zmiana hasła użytkownika</h1>

    <label for="newPassword" class="change-password__label">Nowe hasło</label>
    <input type="password" class="change-password__input" name="newPassword" required />

    <label for="oldPassword" class="change-password__label">Potwierdź stare hasło</label>
    <input type="password" class="change-password__input" name="oldPassword" required />

    <button type="submit" class="change-password__button numeric-font">Zmień</button>
  </form>
  <script src="./static/scripts/change_password_handler.js"></script>
</section>
{% endmacro %}
