{% macro render_small_calendar(date) %}
<div class="small-calendar">
  <h1 class="small-calendar__month">Luty</h1>
  <div class="small-calendar__week-days-wrapper">
    <p class="small-calendar__week-days">PON</p>
    <p class="small-calendar__week-days">WT</p>
    <p class="small-calendar__week-days">ŚR</p>
    <p class="small-calendar__week-days">CZ</p>
    <p class="small-calendar__week-days">PT</p>
    <p class="small-calendar__week-days">SOB</p>
    <p class="small-calendar__week-days">NDZ</p>
  </div>
  <section class="small-calendar__days-wrapper">
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
    <p class="small-calendar__days numeric-font">23</p>
  </section>
  <script src="./static/small_calendar.js"></script>
</div>
{% endmacro %}
