{% macro render_small_calendar(offset) %}
<div class="small-calendar">
  <h1 id="small-calendar__month-{{offset}}" class="small-calendar__month">
    Luty
  </h1>
  <div class="small-calendar__week-days-wrapper">
    <p class="small-calendar__week-days">PON</p>
    <p class="small-calendar__week-days">WT</p>
    <p class="small-calendar__week-days">ŚR</p>
    <p class="small-calendar__week-days">CZ</p>
    <p class="small-calendar__week-days">PT</p>
    <p class="small-calendar__week-days">SOB</p>
    <p class="small-calendar__week-days">NDZ</p>
  </div>
  <section
    id="small-calendar__days-wrapper-{{offset}}"
    class="small-calendar__days-wrapper"
  ></section>
  <!-- <script src="./static/scripts/small_calendar.js"></script> -->
</div>
{% endmacro %}
